.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    min-width: 20%;
    max-width: 20%;
    min-height: 80%;
    max-height: 80%;
}