.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 25%;
    width: 25%;
    background-color: #51b44826;
    border-radius: 5px;
}

.book-card:hover {
    cursor: pointer;
    background-color: #51b4484a;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.book-card-cover {
    height: 150px;
    width: 100px;
    border-radius: 5px;
}

.book-card-primary {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    white-space: normal;
}

.book-card-title {
    font-size: large;
}

.book-card-author {
    color: #2f432e;
}