.book-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.info-row {
    display: flex;
    gap: 20px;
    width: 100%;
}

.design-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}