.library {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.library-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 10px;
}

.library-sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.MuiTabs-indicator.css-oewvya-MuiTabs-indicator {
    background-color: #38525b;
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1usuzwp-MuiButtonBase-root-MuiTab-root {
    color: #000;
    border-radius: 5px;
    background-color: #38525b2a;
}