.category {
    min-height: 85dvh;
    display: flex;
    flex-direction: column;
}

.category-header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.category-desc {
    width: 80%;
}

.primary {
    font-size: large;
}

.secondary {
    color: #5f5f5f;
    white-space: normal;
}